<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Holdup Nevus | Game</title>

    <link rel="icon" type="image/x-icon" href="/img/webPhotos/logo.png">

    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/gameStyle.css">
    <link rel="stylesheet" href="/css/gamesNav.css">

     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>

    <nav class="navBG">
    <a href="/games">
        <div>
            <span class="material-symbols-outlined">
            arrow_back
            </span>
            <p>BACK</p>
        </div>
    </a>
    <section class="navLogo">
        <img src="/img/webPhotos/logo.png" alt="" title=""
        width="60" height="60"/>
        <h2>Holdup Nevus</h2>
    </section>
    </nav>

    <main>
    <% 
    const version = "13.12.1"

    function playerRowsTemplate(player){
        let items = ``;
        for (let i=0; i<7; i++){
            if (player["item"+i] != 0) {
            items+=`<img width="${itemIconSize}" height="${itemIconSize}"
        src="${itemIconLink}${player["item"+i]}.png" class="itemIcon">`
            }else{
                items+=`<div class="emptyItem itemIcon" style="width: ${itemIconSize}px;
                 height: ${itemIconSize}px;"></div> `
            }
        }

        return `<section class="playerRows">
            <section class="summs">
                <img width="${summsIconSize}" height="${summsIconSize}"
            src="${summsIconLink}${summs[player.summoner1Id]}">
                <img width="${summsIconSize}" height="${summsIconSize}"
            src="${summsIconLink}${summs[player.summoner2Id]}">
            </section>
            <section class="runes">
                <img width="${runesIconSize}" height="${runesIconSize}"
            src="${runesIconLink}${runes[player.perks.styles[0].selections[0].perk]}">
                <img width="${runesIconSize-8}" height="${runesIconSize-8}"
            src="${runesIconLink}${runes[player.perks.styles[1].style]}">
            </section>
            <section class="champSummonerStats">
                <article class="iconLevel">
                <p class="championLevel centerContent textSize1_5">${player.champLevel}</p>
                <div class="containChampionIcon" style="width: ${chamIconSize}px; height: ${chamIconSize}px;">
                <img width="${chamIconSize}" height="${chamIconSize}" title="${player.championName}"
                src="${champIconLink}${player.championName}.png" class="championIcon">
                </div>
                </article>
                <p class="summonerName">${player.summonerName}</p>
            </section>
            <section class="itemsStats">
                <section class="items">
                    ${items}
                </section>
                <section class="statsInItems">
                    <p class="stats centerContent textSize1_5">${player.kills}/<span>${player.deaths}</span>/${player.assists}</p>
                    <p class="minionsKilled centerContent">${ player.totalMinionsKilled + player.neutralMinionsKilled }</p>
                    <p class="goldEarned centerContent textSize1_5">${player.goldEarned.toString().slice(0, -3)},${player.goldEarned.toString().slice(-3)}</p>
                </section>
            </section>
            <p class="stats centerContent textSize1_5">${player.kills}/<span>${player.deaths}</span>/${player.assists}</p>
            <p class="minionsKilled centerContent">${ player.totalMinionsKilled + player.neutralMinionsKilled }</p>
            <p class="goldEarned centerContent textSize1_5">${player.goldEarned.toString().slice(0, -3)},${player.goldEarned.toString().slice(-3)}</p>
        </section>`
    }
    
    /////// Champions
    let champIconLink = `http://ddragon.leagueoflegends.com/cdn/${version}/img/champion/`;
    let chamIconSize = 50;
    //Items
    let itemIconLink = `http://ddragon.leagueoflegends.com/cdn/${version}/img/item/`;
    let itemIconSize = 35; 
    
    /// Summs
    let summsIconLink = `http://ddragon.leagueoflegends.com/cdn/${version}/img/spell/`;
    let summsIconSize = 25;
    
    /// Runes
    let runesIconLink = "https://ddragon.canisback.com/img/";
    let runesIconSize = 25;
    %>

    
        <article class="matchWrapper">
            <section class="info">
                <% let gH = Math.trunc(match.info.gameDuration/60)
                let gM = match.info.gameDuration - gH * 60 %>
                <p><%= match.metadata.matchId %> | <%= gH %>:<%= gM %></p>
            </section>
            <%let losers = [] 
            let winners = []
            match.info.participants.forEach( info => {
                if (info.win === false){
                    losers.push(info)
                }else{
                    winners.push(info)
                } 
            })%>

            <section class="team">
                <h1 class="WinnerSign">Winners</h1>
                
                <section class="wrapPlayerRow">
                <% for (let player of winners) {%>
                   <%- playerRowsTemplate(player)%>
                <%}%>
                </section>
                
            </section>
            <section class="team">
                <h1 class="LoserSign">Losers</h1> 

                <section class="wrapPlayerRow">
                <% for (let player of losers) {%>
                   <%- playerRowsTemplate(player) %> 
                <%}%>
                </section>
            </section>
        </article>
    </main>

    <%- include('./partials/footer.ejs')%>

</body>
</html>